

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--else location.href=document.referrer;-->
<div align="center" style="">
    <img src="/static/img/gis/fuwuqi.png" style="margin-top:30px;margin-left:30px;"/>
</div>

<script>
    <!--function clock() {-->
        <!--i = i - 1;-->
        <!--document.getElementById("aa").innerHTML = "将在" + i + "秒后自动为您跳转!";-->
        <!--if (i > 0)setTimeout("clock();", 1000);-->
        <!--else location.href="/oa/announcement_employee/";-->
    <!--}-->
    <!--var i = 5;//时间:秒-->
    <!--clock();-->
</script>

</body>
</html>