<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <link rel="icon" href="/static/web_customer/customer/lvmeng/images/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="/static/web_customer/customer/lvmeng/images/favicon.png" type="image/png" />
    <title>牛基队</title>

    <link href="/static/web_customer/customer/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/static/web_customer/customer/css/style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/web_customer/customer/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/jquery.quicksand.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/superfish.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/hoverIntent.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/jquery.hoverdir.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/jquery.tweet.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/smoothscroll.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/main.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/ajax-mail.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/accordion.settings.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer/js/jquery.flexslider-min.js"></script>

    <link href="/static/web_customer/customer/lvmeng/css/lvmeng.css" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
	<script src="/static/web_customer/homePage/js/html5shiv.js"></script>
	<script src="/static/web_customer/homePage/js/respond.min.js"></script>

<![endif]-->

</head>

<body>
<div id="divall">
    <div class="div_modal">
        <div class="content">
            <div style="padding: 0 30px;">
                <div style="float: right;width: 372px;">
                    <div class="login_in">
                        <p class="on" onclick="denglu()" id="on">登录</p>
                    </div>
                    <div id="error" style="margin-top:20px;color:red;font-size:15px;">
                            {{ error }}
                    </div>
                    <input id="loginMark" style="display:none;" value="{{ success|default:'' }}">
                    <div class="content_one" id="content_one">
                        <form action="" method="post" id="cus_form">
                            <input type="text" placeholder="用户名/手机号" name="username">
                            <input type="password" placeholder="密码" name="password">
                            <div class="content_two">
                                <input type="checkbox" checked="checked"><span>记住我</span>
                            </div>
                            <a onclick="login()">立即登录</a>
                        </form>
                    </div>
                </div>

                <div>
                    <p class="content_ad_a">尊敬的用户：</p>
                    <p class="content_ad_b">
                        恪守《私募投资基金监督管理暂行办法》规定，即日起注册用户才能登录网站查看，特此公告！
                    </p>
                    <p  class="content_ad_c">2016年4月7日<br/><br/></p>
                </div>
            </div>
            <div class="content_word">
                <div style="background: #CCCCCC;">
                        <h2>合格投资者认定</h2>
                    <div class="content_word_a">
                        <p class="content_word_b">
                            根据《私募投资基金监督管理暂行办法》第四章第十四条规定：“私募基金管理人、私募基金销售机构不得向合格投资者之外的单位和个人募集资金，不得通过报刊、电台、电视、互联网等
                            公众传播媒体或者讲座、报告会、分析会的布告、传单、手机短信、微信、博客和电子邮件等方式，向不特定对象宣传推介。”
                        </p>
                        <p class="content_word_c">谨遵《私募投资基金监督管理暂行办法》之规定，只向特定的合格投资者宣传推介相关私募投资基金产品。</p>

                        <p class="content_word_d">
                            阁下如有意进行私募投资基金投资且满足《私募投资基金监督管理暂行办法》关于合规投资者标准之规定，即具备相应风险识别能力和
                        风险承担能力，投资于单只私募基金的金额不低于100万元，且个人金融类资产不低于300万元或者最近三年个人年均收入不低于50万元人民币。请阁下详细阅读本提示，并注册成为特定的
                        合规投资者，方可获得私募投资基金产品宣传推介服务。</p>
                        <p class="content_word_e">
                            <span style="color: #000000;">
                                <label><input type="checkbox" checked="checked" >我已阅读并接受此认定证书</label>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div_modal_back"></div>
</div>

<header id="header">
    <div class="container">
        <div class="row">
            <div class="span3 logo">
                <img src="/media/{{ business.logo }}" style="width:153px;height:70px;" alt="logo" />
            </div>
            <div class="span3 logo" style="margin-left: 200px;">
                <img src="/static/web_customer/customer/lvmeng/images/niheta.png" alt="">
            </div>
            <div class="span5 offset7 login-form hidden-phone">
                    <p class="pull-right"style="font-size: 20px;">财富热线：4006-720-315</p>
                      <form class="bs-docs-example form-inline pull-right"  method="post" action="/erp/customer_business_search/"/>
                        <select name="bus_id" style="width: 180px;font-size: 14px;">
                                <option value="{{ business.id }}">{{ business }}</option>
                            {% for agent in agents %}
                                {% if business != agent.business %}
                                    <option value="{{ agent.business.id }}">{{ agent.business }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    <button class="btn " type="submit">确定</button>
                    </form>
                </div>
        </div>
    </div>
</header>

<section id="main-menu">
    <nav class="container" id="menu">
        <ul>
            <li><a  class="current">首页</a></li>
            <li><a href="#">产品中心</a></li>
            <li><a href="#">金融头条</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </nav>
</section>

{% comment %}<section id="welcome">
    <img src="/static/web_customer/customer/lvmeng/images/guanli.png">
</section>{% endcomment %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/static/web_customer/customer/lvmeng/images/banner2.png" alt="...">
        </div>
        <div class="item">
            <img src="/static/web_customer/customer/lvmeng/images/banner.png" alt="...">
        </div>
        <div class="item">
            <img src="/static/web_customer/customer/lvmeng/images/banner4.png" alt="...">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div>
    <img src="/static/web_customer/customer/lvmeng/images/guanli.png">
</div>

<div class="container">
    <div class="row">
        <div  style="text-align: center;margin-top: 30px;" id="product">
            <img src="/static/web_customer/customer/lvmeng/images/line_left.png">
            <span style="font-size:30px;color: #333333; padding-left: 40px;padding-right: 40px;">产品中心</span>
            <img src="/static/web_customer/customer/lvmeng/images/line_right.png">
        </div>
        {% comment %}<div class="col-md-12 col-sm-12" style="text-align: center;margin-top: 10px;">Production center</div>{% endcomment %}
        <p style="text-align: center;margin-top: 10px;color: #333333;">Production center</p>


            <div class="col-md-2 col-sm-2" id="hot">
                <p>热销产品</p>
                <img src="/static/web_customer/customer/lvmeng/images/picter.png">
            </div>
            <div class="col-md-10 col-sm-10" id="gategory">
                <div>
                    <ul>
                        <li>股权基金</li>
                        <li>创新基金</li>
                        <li>债权基金</li>
                        <li>证券基金</li>
                        <li>集合信托</li>
                        <li>集合资管</li>
                        <li>集合保险</li>
                    </ul>
                </div>
            </div>


    </div>

</div>


<!--footer-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" class="table1">
                        <th><h2>合作机构</h2></th>
                        <tr>
                            <td><img src="/static/web_customer/customer/lvmeng/images/"></td>
                            <td><img src="/static/web_customer/customer/lvmeng/images/"></td>
                            <td><img src="/static/web_customer/customer/lvmeng/images/"></td>
                        </tr>
                        <tr>
                            <td><img src="/static/web_customer/customer/lvmeng/images/"></td>
                            <td><img src="/static/web_customer/customer/lvmeng/images/"></td>
                            <td><img src="/static/web_customer/customer/lvmeng/images/"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="span3" style="margin-left: 10%;">
                <h2>联系我们</h2>

                <form id="contact" class="form-horizontal" method="post" />
                <div style="line-height: 40px;width: 450px;">
                <div class="control-group">
                    <!--<i class="myicon-mail"></i>地址：上海市浦东区张杨路560号中融恒瑞大厦西楼1102室-->
                    <i class="myicon-mail"></i>地址：{{ business.address }}
                    <p></p>
                </div>

                <div class="control-group">
                    <!--<i class="myicon-phone"></i>电话:02020202-->
                    <i class="myicon-phone"></i>电话：{{ business.phoneNum }}
                    <p></p>
                </div>
                <div class="control-group">
                    <!--<i class="myicon-mail"></i>邮件:121311@163.com-->
                    <i class="myicon-mail"></i>邮件：{{ business.email }}
                    <p></p>
                </div>
                </div>
                </form>
            </div>

            <div class="span3" >
                 <img src="/static/web_customer/customer/lvmeng/images/" width="160px" height="160px" style="margin-left: 90%;margin-top: 13%;">
            </div>
        </div>
    </div>
</footer>

<!--footer-->
<div class="right">
    <img src="/static/web_customer/customer/lvmeng/images/ewm_download.jpg" style="width:100px;height:100px">
    <p>扫描下载用户APP</p>
</div>
<!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      <!--_paq.push(['deleteCustomDimension', 1]);-->
      <!--_paq.push(['deleteCustomDimension', 2]);-->
      _paq.push(['setCustomDimension', 1, '{{ user.username }}']);
      _paq.push(['setCustomDimension', 3, '{{ user.first_name }}']);
      _paq.push(['setCustomDimension', 4, '{{ user.last_name }}']);
      <!--_paq.push(['setCustomDimension', 5, '{{ user.business.name }}']);-->
      <!--_paq.push(['setCustomDimension', 2, '{{ user.username }}');-->
      _paq.push(['setCustomVariable',
        // Index, the number from 1 to 5 where this custom variable name is stored for the current page view
        1,
        // Name, the name of the variable, for example: Category, Sub-category, UserType
        "User",
        // Value, for example: "Sports", "News", "World", "Business", etc.
          "{{ user.first_name }}",
        // Scope of the custom variable, "page" means the custom variable applies to the current page view
        "page"
      ]);

      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analysis.niujidui.com:49997/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>

    <noscript><p><img src="//analysis.niujidui.com:49997/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

<script>
    $(window).load(function() {
        $('.flexslider').flexslider({
            animation: "slide"
        });
    });

    function denglu(){
        document.getElementById("content_one").style.display = "block";
        document.getElementById("content_two").style.display = "none";
    }

    function login(){
        $("#cus_form").submit();
    }

    $(function(){
        var mark = $("#loginMark").val();
        if(mark){
            document.getElementById("divall").style.display = "none";
        }
    });

    function tijiao(){
        document.getElementById("divall").style.display = "none";
    }
    $(function(){
        $('.right').animate({right:'0',opacity:'1'},1000)

    })

</script>

</body>
</html>