<!DOCTYPE html>
<html lang="en">
<head >

    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <meta name="renderer" content="webkit" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/web_customer/homePage/lvmeng/images/logo/favicon.png">

    <title>牛基队</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/web_customer/homePage/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/web_customer/homePage/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/web_customer/homePage/css/owl.theme.css">
    <link rel="stylesheet" href="/static/web_customer/homePage/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/web_customer/homePage/css/nivo-theme.css">
    <link rel="stylesheet" href="/static/web_customer/homePage/css/nivo-lightbox.css">
    <link rel="stylesheet" href="/static/web_customer/homePage/css/animate.css">

    <link rel="stylesheet" href="/static/web_customer/homePage/css/style_dark.css">
    <link rel="stylesheet" href="/static/web_customer/homePage/css/responsive.css">

    <!-- Color Sheme CSS -->
    <link rel="stylesheet" href="/static/web_customer/homePage/css/color.css">

    <!-- Main Stylsheets -->
    <link rel="stylesheet" href="/static/web_customer/homePage/lvmeng/css/lvmeng.css">
    <link rel="stylesheet" href="/static/web_customer/homePage/lvmeng/css/announcement.css">
    <!-- Google Font -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3&ak=x2EmyMUddHoHp8QbkhK1GSKi"></script>
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>-->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- begin nav -->
<nav class="navbar navbar-default  fixednav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span>Menu</span>
            </button>
            <!-- begin logo in navigation -->
            <a class="navbar-brand" href="#intro">
                <img src="/static/web_customer/homePage/lvmeng/images/logo/logo_150.png" alt="logo small">
                <!--<p style="float: right;">专业的企业<br/>用户管理系统</p>-->
            </a>
            <!-- end logo in navigation -->
            <!--<div >
                <ul class="nav navbar-nav pull-left" style="margin-top: 20px;">
                    <li><img src="lvmeng/images/logo/sl.png" alt="logo small"></li>
                    <li style="margin-left: -30px;">专业的企业<br/>用户管理系统</li>
                </ul>
            </div>-->
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <!-- begin navigation items -->
                <li><a href="/#intro">首页</a></li>
                <li><a href="/#extra">功能介绍</a></li>
                <li><a href="/#reviews">用户评价</a></li>
                <li><a href="/#video">站内公告</a></li>
                <li><a href="#footer">关于我们</a></li>
                <li><a href="/login">企业登录</a></li>
                <li><a href="/customer_login">个人登录</a></li>
                <!-- end navigation items -->
                <li>&nbsp;&nbsp;&nbsp;</li>
                <li><div class="nav_img2" >
                    <img src="/static/web_customer/homePage/lvmeng/images/icon/dianhua.png"><span style="color: white;">&nbsp;&nbsp;&nbsp;联系我们<br/>4006-720-315</span>
                    </div>
                    <div class="nav_img3">
                        <img src="/static/web_customer/homePage/lvmeng/images/icon/xiantiao.png">
                    </div>
                    <div class="mav_img4">
                        <img src="/static/web_customer/homePage/lvmeng/images/icon/kefu.png">
                    </div>
                </li>
            </ul>
        </div>
        <!--<div class="nav navbar-nav pull-right" style="margin-top: -80px;">
            <div class="nav_img2" >
                <img src="lvmeng/images/icon/dianhua.png"><span style="color: white;">&nbsp;&nbsp;&nbsp;联系我们<br/>4006-720-315</span>
            </div>
            <div class="nav_img3">
                <img src="lvmeng/images/icon/xiantiao.png">
            </div>
            <div class="mav_img4">
                <img src="lvmeng/images/icon/kefu.png">
            </div>
        </div>-->
    </div>

</nav>
<!-- end nav -->

<!--begin -->
<div class="container">
        {% comment %}<div class="col-md-5 col-sm-5">
            <div class="org_ad_a">
                <h3>机构公告</h3>
                <div class="org_ad_b">
                    <ul>
                        <span>4月26日</span>
                        <li><a href="#">创业梦想招校园CEO</a></li>

                        <span>4月29日</span>
                        <li><a href="#">牛基队5.1放假公告</a></li>

                        <span>5月01日</span>
                        <li><a href="#">新模式“SAAS”下，“牛基队”带您走进新常态</a></li>

                        <span>5月01日</span>
                        <li><a href="#">牛基队-----企业用户管理系统V1.0版本上市试运行公告</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-7" >
            <div class="org_ad_info">
                <h3>详细信息</h3>
                <div class="org_ad_info_con">
                    <div  class="org_ad_info_a">
                        <h3>牛基队5.1放假公告</h3>
                    <p>尊敬的牛基队体验用户：</p>

                    <p>2016年五一将至，现就牛基队2016年五一节放假值班安排通知如下：</p>
                    <p>2016年4月30日（星期六）至5月2日（星期一）放假，共3天，5月3日（星期二）起正常上班。
                    放假期间：</p>
                    <p>官方正常接受咨询</p>
                    <p>假期结束后将恢复正常服务时间，如给您带来不便敬请谅解，牛基他感谢您的支持。</p>
                    <div style="float: right">
                        <p>上海律锰信息技术有限公司</p>
                        <p>2016年4月26日</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>{% endcomment %}
            <div class="jumbotron section-left">
                <h3>牛基队公告</h3>
                <div class="org_ad_b">
                    <ul class="announces">
                         {% for lv in lvs %}
                             <li>
                                <ul class="announce-item">
                                    <li class="line-left"><a onclick="check_announcement({{ lv.id }});" style="cursor:pointer;">{{ lv.title | truncatechars:12}}</a></li>
                                    <li class="line-right">{{ lv.date }}</li>
                                </ul>
                             </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="jumbotron section-right">
                <h3>详细信息</h3>
                <div class="org_ad_info_con">
                    <div class="org_ad_info_a" id="info">

                        <h4 id="announcement_title">{{ announcement.title }}</h4>


                        <div>
                            <div id="info_content">
                            {{ announcement.text | safe}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% comment %}<div class="col-md-5 col-sm-5">
            <div class="jumbotron">
                <h3>牛基队公告</h3>
                <div class="org_ad_b">
                    <ul>
                        {% for lv in lvs %}
                            <span>{{ lv.date }}</span>
                            <li><a onclick="check_announcement({{ lv.id }});" style="cursor:pointer;">{{ lv.title }}</a></li>
                            <!--<li><a href="/web_customer/announcement/?annou_id={{ lv.id }}">{{ lv.title }}</a></li>-->
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-7">
            <div class="jumbotron">
                <h3>详细信息</h3>
                <div class="org_ad_info_con">
                    <div class="org_ad_info_a" id="info">

                        <h4 id="announcement_title">{{ announcement.title }}</h4>


                        <div>
                            <div id="info_content">
                            {{ announcement.text | safe}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>{% endcomment %}
</div>
<!--end-->


<!-- begin footer section -->
<footer class="footer" id="footer">
    <div class="container">
        <div class="row wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s" style="margin-top: -60px;">

            <div class="col-md-4 col-sm-4" >
                <p class="footer_word" style="font-size: 18px;">COOPERATIVE PARTNER  合作伙伴</p>
                <div class="row">
                    <div class="col-md-4 col-sm-4"><img src="/static/web_customer/homePage/lvmeng/images/partner/360.png"></div>
                    <div class="col-md-4 col-sm-4"><img src="/static/web_customer/homePage/lvmeng/images/partner/baidu.png"></div>
                    <div class="col-md-4 col-sm-4"><img src="/static/web_customer/homePage/lvmeng/images/partner/gongshang.png"></div>
                    <div class="col-md-4 col-sm-4"><img src="/static/web_customer/homePage/lvmeng/images/partner/guotai.png"></div>
                    <div class="col-md-4 col-sm-4"><img src="/static/web_customer/homePage/lvmeng/images/partner/texun.png"></div>
                    <div class="col-md-4 col-sm-4"><img src="/static/web_customer/homePage/lvmeng/images/partner/xinlang.png"></div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4" >
                <p class="footer_word" style="font-size: 18px;">CONTACT US  联系我们</p>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="/static/web_customer/homePage/lvmeng/images/logo/ewm_guanwang.png">
                    </a>
                    <div class="media-body">
                        <div class="media-heading">扫一扫</div>
                        <div class="media">联系我们</div>
                    </div>
                </div>
                <div class="footer_word_tel" >
                    <p>客服热线：4006-720-315</p>
                    <p>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：niujidui@niujidui.com</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4" id="container"></div>

        </div>
    </div>

    <div class="copy">
        <p>&copy;2016上海律锰信息技术有限公司 版权 沪ICP备16013923</p>
    </div>

</footer>
<!-- end footer section -->


<!-- Javascripts -->
<script src="/static/web_customer/homePage/js/jquery.js"></script>
<script src="/static/web_customer/homePage/js/bootstrap.min.js"></script>
<script src="/static/web_customer/homePage/js/owl.carousel.min.js"></script>
<script src="/static/web_customer/homePage/js/jquery.fitvids.js"></script>
<script src="/static/web_customer/homePage/js/smoothScroll.js"></script>
<script src="/static/web_customer/homePage/js/nivo-lightbox.min.js"></script>
<script src="/static/web_customer/homePage/js/jquery.scrollTo.js"></script>
<script src="/static/web_customer/homePage/js/jquery.nav.js"></script>
<script src="/static/web_customer/homePage/js/wow.min.js"></script>
<script src="/static/web_customer/homePage/js/jquery.jigowatt.js"></script>

<!-- Custom Javascript -->
<script src="/static/web_customer/homePage/js/main.js"></script>

</body>
</html>

<script type="text/javascript">
    var map = new BMap.Map("container");
    map.centerAndZoom(new BMap.Point('121.525276', '31.233347'), 20);

    var mygeo = new BMap.Geocoder();
    //    mygeo.getLocation(new BMap.Point(121.54537,31.230601),function(result){
    ////        if(result){
    ////            alert(result.address);
    ////        }
    //    });

    setMapEvent();
    addMapControl();

    function setMapEvent(){
        map.enableDragging();
        map.enableScrollWheelZoom();
        map.enableDoubleClickZoom();
        map.enableKeyboard();
    }

    function addMapControl(){

        var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(ctrl_nav);

        var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
        map.addControl(ctrl_ove);

        var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        map.addControl(ctrl_sca);
        map.addControl(new BMap.MapTypeControl());
    }


    var marker1 = new BMap.Marker(new BMap.Point('121.525276', '31.233347'));
    //    var marker2 = new BMap.Marker(new BMap.Point('114.11892734521', '29.175429778924'));
    //    var marker3 = new BMap.Marker(new BMap.Point('121.309487', '31.33481'));

    map.addOverlay(marker1);
    //    map.addOverlay(marker2);
    //    map.addOverlay(marker3);

    var infoWindow = new BMap.InfoWindow("上海市浦东新区张杨路560号1102室", {
        width : 200,
        height: 80,
        title : "上海律锰信息技术有限公司",
        enableMessage : false
    });
    //    marker1.addEventListener("click", function(){this.openInfoWindow(infoWindow);});

    function funclick(){
        marker1.openInfoWindow(infoWindow);
    }

    funclick();
</script>


<script>
{#    function is_mobile() {#}
{#        var regex_match = /(nokia|iphone|android|motorola|^mot-|softbank|foma|docomo|kddi|up.browser|up.link|htc|dopod|blazer|netfront|helio|hosin|huawei|novarra|CoolPad|webos|techfaith|palmsource|blackberry|alcatel|amoi|ktouch|nexian|samsung|^sam-|s[cg]h|^lge|ericsson|philips|sagem|wellcom|bunjalloo|maui|symbian|smartphone|midp|wap|phone|windows ce|iemobile|^spice|^bird|^zte-|longcos|pantech|gionee|^sie-|portalmmm|jigs browser|hiptop|^benq|haier|^lct|operas*mobi|opera*mini|320x320|240x320|176x220)/i;#}
{#        var u = navigator.userAgent;#}
{#        if (null == u) {#}
{#            return true;#}
{#        }#}
{#        var result = regex_match.exec(u);#}
{#        if (null == result) {#}
{#            return false#}
{#        } else {#}
{#            return true#}
{#        }#}
{#    }#}
{#    if (is_mobile()) {#}
{#        document.location.href= "index_mobile.html";#}
{#    }#}

    function check_announcement(id){
        $.ajax({
        type:"get",
        url:"/web_customer/check_announcement/",
        data:{"id":id},
        dataType:"json",
        success:function(data){
            $("#announcement_title").html(data.title);
            $("#info_content").html(data.text);
            }
        });
    }


</script>