{% extends "erp/base.html" %}
{% block content %}
    <div class="">
        <div class="">
           <!-- START Language list-->
            <h4 style="color:red;">申请审核列表</h4>
        </div>
        <input style="display:none;" name="check_remark" id="check_remark" value="{{ check_remark }}">
        <div>
            <form action="" method="post">
                类型筛选：  <select name="apply_type">
                                {% if apply_chinese %}
                                    <option selected="selected" value="{{ apply_type }}">{{ apply_chinese }}</option>
                                {% endif %}
                                <option value="">请选择</option>

                                <option value="cost_application">费用申请</option>
                                <option value="leave_management">请假申请</option>
                                <option value="travel_apply">出差申请</option>
                                <option value="daily_work">工作汇报</option>
                            </select>
                <input type="submit" class="btn-submit" value="搜索">&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" value="数据导出到Excel表格" onclick="download();" style="color:red;" title="点击导出数据">
            </form>
        </div>

        {% if messages %}
            {% for message in messages %}
                {% if forloop.last %}
                    <div class="message" style="text-align:center;margin-bottom:10px;font-size:20px;color:#40A6DF;"><img style="width:20px;height:20px;" src="/static/img/yes.gif"/>{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% load detail_deal %}
        <div class="row">
            <div class="col-lg-12 panel-body">
                <table id="example" class="table table-hover excel">
                    <thead>
                        <tr id="tr_head">
                            <th>序号</th>
                            <th>申请人</th>
                            <th>申请时间</th>
                            <th>申请类型</th>
                            <th>审核状态</th>
                            <th>审核</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for obj in objs %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ obj.user }}</td>
                            <td>{{ obj.time|date_str }}</td>
                            <td>{{ obj.type }}</td>
                            {% if obj.status == '1' %}
                                <td>未读</td>
                            {% else %}
                                <td style="color:blue;">已读</td>
                            {% endif %}
                            {% if obj.examine_status == '3' %}
                            <td title="点击审核" style="cursor:pointer;color:blue;"><a class="examine" href="/oa/edit_examine/?id={{obj.id}}&contype={{obj.model}}#examine_list">待审核</a></td>
                            {% endif %}
                            {% if obj.examine_status == '2' %}
                                <td style="cursor:pointer;color:red;"><img style="cursor:pointer;width:20px;height:20px;" src="/static/img/cancel.gif"><a href="/oa/edit_examine/?id={{obj.id}}&contype={{obj.model}}&check_remark=true#examine_list">驳回</a></td>
                            {% endif %}
                            {% if obj.examine_status == '1' %}
                                <td style="cursor:pointer;color:blue;"><img style="cursor:pointer;width:20px;height:20px;" src="/static/img/yes.gif"><a href="/oa/edit_examine/?id={{obj.id}}&contype={{obj.model}}&check_remark=true#examine_list">通过</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

                <div class="nav-pagenation">
                    <ul class="pagination">
                        <li>
                            {% if objs.has_previous %}
                                <a href="?page={{ objs.previous_page_number }}#examine_list">上一页</a>
                            {% else %}
                                <a href="#" class="disabled">上一页</a>
                            {% endif %}
                        </li>

                        {% for p in page_range %}
                            {% ifequal p objs.number %}
                                <li class="active"><a href="#">{{p}}</a></li>
                            {% else %}
                                <li><a href="?page={{p}}#examine_list" title="第{{p}}页">{{p}}</a></li>
                            {% endifequal %}
                        {% endfor %}

                        <li>
                            {% if objs.has_next %}
                                <a href="?page={{ objs.next_page_number }}#examine_list">下一页</a>
                            {% else %}
                                <a href="#" class="disabled">下一页</a>
                            {% endif %}
                        </li>

                        <li>
                            <a href="#">共{{ paginator.count }}条</a>
                        </li>

                        {% ifequal paginator.num_pages 1 %}
                        {%  else %}
                            <div class="go-wrap">
                                <form action="">
                                    <input type="text" class="text-go" name="page" value="{{objs.number}}"/>
                                    <input type="submit" class="btn-go" value="跳转"/>
                                </form>
                            </div>
                        {% endifequal %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>

    <!--function cost_examine(id){-->
        <!--var con = $("#model").val();-->
        <!--$.ajax({-->
        <!--type:"get",-->
        <!--url:"/oa/edit_examine/",-->
        <!--data:{"id":id,"contype":con},-->
        <!--success:function(html){-->
               <!--$.webox({-->
                   <!--height:550,-->
                   <!--width:500,-->
                   <!--bgvisibel:true,-->
                   <!--title:'审核费用',-->
                   <!--html:html,-->
                <!--});-->
            <!--}-->
        <!--});-->
    <!--}-->

    $(document).ready(function() {
        $('#example').DataTable();
    } );

    $(function(){
        $("th").attr("title","点击排序");
    });

    $(function(){
        $('#example_filter').css('style','display:none');
        $('#example_info').attr('style','display:none');
        $('#example_length').attr('style','display:none');
        $('#example_paginate').attr('style','display:none');
    });

</script>

{% endblock %}