{% extends "erp/base.html" %}
{% block content %}
    <div class="">
        <ol class="breadcrumb">
            <span>当前位置：</span>
            <li class="active">办公自动化</li>
            <li>协同办公</li>
            <li>请假申请</li>
            <li>请假申请审批结果</li>
        </ol>
        {% load detail_deal %}
        <div class="row">
            <div class="col-lg-12 panel-body">
                <div class="">
                    <h4 style="color:red;">请假申请内容</h4>
                </div>
                <table class="table table-hover excel">
                    <thead>
                        <tr id="tr_head1">
                            <th>申请人</th>
                            <th>请假类型</th>
                            <th>请假原因</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>申请时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ leave_management.user }}</td>
                            <td>{{ leave_management.topic }}</td>
                            <td>{{ leave_management.content }}</td>
                            <td>{{ leave_management.start }}</td>
                            <td>{{ leave_management.end }}</td>
                            <td>{{ leave_management.time|date_str }}</td>
                        </tr>
                    </tbody>
                </table><br>
                <div class="">
                    <h4 style="color:red;">请假申请审批列表</h4>
                </div>
                <table class="table table-hover excel">
                    <thead>
                        <tr id="tr_head">
                            <th>审批人</th>
                            <th>审核状态</th>
                            <th>审核结果</th>
                            <th>审批备注</th>
                            <th>审批时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for leave_examine in leave_examines %}
                            <tr>
                                <td>{{ leave_examine.examine_user }}</td>
                                {% if  leave_examine.read_status == '1'%}
                                    <td>{{ leave_examine.get_read_status_display }}</td>
                                {% else %}
                                    <td style="color:blue;">{{ leave_examine.get_read_status_display }}</td>
                                {% endif %}

                                {% if leave_examine.examine_status == '3' %}
                                    <td>{{ leave_examine.get_examine_status_display }}</td>
                                {% endif %}
                                {% if leave_examine.examine_status == '2' %}
                                    <td style="color:red;"><img style="width:20px;height:20px;" src="/static/img/cancel.gif">{{ leave_examine.get_examine_status_display }}</td>
                                {% endif %}
                                {% if leave_examine.examine_status == '1' %}
                                    <td style="color:blue;"><img style="width:20px;height:20px;" src="/static/img/yes.gif">{{ leave_examine.get_examine_status_display }}</td>
                                {% endif %}

                                <td>{{ leave_examine.examine_message|default:'' }}</td>
                                <td>{{ leave_examine.examine_time|default:''|date_str }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>

</script>

{% endblock %}