body,html{font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;}
#noticelist {background: #F1F1F1;}
.noticelist_nav {background: #E5E5E5;
    margin-left: -15px;
    margin-right: -15px;
}
.noticelist_nav p{color: #e60012;
    font-size: 18px;
    line-height: 80px;
    padding-left: 100px;
    margin-top: -80px;
}
.noticelist_left {background:#666666;
    margin-left: -30px;
    margin-right: -10px;
    height: 160px;
    border-bottom: solid 1px white;
}
.noticelist_mark {text-align: center;margin-top: -10px;}
.noticelist_mark img {max-width: 100%;}
.noticelist_day {font-size: 50px;
    color:#CCCCCC;
    text-align: center;
}
.noticelist_month{font-size: 20px;
    color: #999999;
    text-align: center;
}
.noticelist_title a {font-size: 20px;
    color: #666666;
    text-decoration: none;
    font-weight: bold;
}
.noticelist_title a:hover {color: #E60012;}

.noticelist_word {font-size: 14px;
    color: #666666;
    line-height:25px;
    max-height: 55px;
    overflow: hidden;
}
.media-bottom a{color:#e60012;
    text-decoration: none;
    font-size: 14px;
}
.media-bottom a:hover {color: #000000;}

