{% extends "erp/base.html" %}
{% block content %}
    <div class="">
        <ol class="breadcrumb">
            <span>当前位置：</span>
            <li class="active">律锰管理</li>
            <li class="active">按角色查看</li>
            <li>客户</li>
        </ol>
        <div class="header-line">
           <!-- START Language list-->
            <h4>客户列表</h4>
        </div>

        <div class="content-table">
            <form action="" method="post" class="form-inline">
                <div class="form-group">
                    <label class="control-label">客户姓名：</label>
                  <div class="col-sm-9">
                     <input type="text" class="form-control" name="customer_name" value="{{customer_name|default:''}}">
                  </div>
               </div>
                <div class="form-group div-wrap">
                  <label class="control-label">电话：</label>
                  <div class="col-sm-9">
                     <input type="text" class="form-control" name="phoneNum" value="{{phoneNum|default:''}}">
                  </div>
               </div>
                <div class="form-group">
                  <label class="control-label">身份证号：</label>
                  <div class="col-sm-9">
                     <input type="text" class="form-control"  name="idNum" value="{{idNum|default:''}}">
                  </div>
               </div>
                <div class="form-group">
                  <div class="col-sm-3 btn-wrap">
                        <input type="submit" value="搜索" class="btn-submit">
                  </div>
                    <div class="col-sm-9">
                    <input type="button" value="数据导出到Excel表格" onclick="download();" title="点击导出数据" class="btn-export">
               </div>
               </div>
                {% comment %}客户姓名：<input type="text" name="customer_name" value="{{customer_name|default:''}}">&nbsp;&nbsp;&nbsp;&nbsp;
                电话：<input type="text" name="phoneNum" value="{{phoneNum|default:''}}">&nbsp;&nbsp;&nbsp;&nbsp;
                身份证号：<input type="text" name="idNum" value="{{idNum|default:''}}">&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="搜索">{% endcomment %}
            </form>
        </div>

        <div class="row">
            <div class="col-lg-12 panel-body admin_agent_list table-responsive">
                <table id="example" class="table table-hover excel" style="overflow-x:scroll;white-space:nowrap;">
                    <thead>
                        <tr id="tr_head">
                            <th>序号</th>
                            <th>客户姓名</th>
                            <th>电话</th>
                            <th>性别</th>
                            <th>地址</th>
                            <th>身份证号</th>
                            <th>购买总数量</th>
                            <th>购买总金额/元</th>
                            <th>注册日期</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% load detail_deal %}
                        {% for customer in customers %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a class="customer_check" href="/erp/check/?id={{ customer.id }}&type=customer#admin_customers" title="点击查看">{{ customer.name }}</a></td>
                                <td>{{ customer.phoneNum }}</td>
                                <td>{{ customer.get_sex_display }}</td>
                                <td>{{ customer.address }}</td>
                                <td>{{ customer.idCard_num }}</td>
                                {% if customer.count %}
                                    <td><a class="customer_count" href="/erp/admin_product_list/?id={{ customer.id }}&type=admin_product#admin_customers" title="点击查看该客户所购买产品">{{ customer.count }}</a></td>
                                {% else %}
                                    <td><a>{{ customer.count }}</a></td>
                                {% endif %}

                                {% if customer.sum %}
                                    <td style="color:#299A00;">{{ customer.sum }}</td>
                                {% else %}
                                    <td>{{ customer.sum }}</td>
                                {% endif %}
                                <td>{{ customer.register_date|date_str }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>


                </table>
                <div class="nav-pagenation">
                    <ul class="pagination">
                        <li>
                            {% if customers.has_previous %}
                                <a href="?page={{ customers.previous_page_number }}#admin_customers">上一页</a>
                            {% else %}
                                <a href="#" class="disabled">上一页</a>
                            {% endif %}
                        </li>

                        {% for p in page_range %}
                            {% ifequal p customers.number %}
                                <li class="active"><a href="#">{{p}}</a></li>
                            {% else %}
                                <li><a href="?page={{p}}#admin_customers" title="第{{p}}页">{{p}}</a></li>
                            {% endifequal %}
                        {% endfor %}

                        <li>
                            {% if customers.has_next %}
                                <a href="?page={{ customers.next_page_number }}#admin_customers">下一页</a>
                            {% else %}
                                <a href="#" class="disabled">下一页</a>
                            {% endif %}
                        </li>

                        <li>
                            <a href="#">共{{ paginator.count }}条</a>
                        </li>

                        {% ifequal paginator.num_pages 1 %}

                        {% else %}
                            <div class="go-wrap">
                                <form action="">
                                    <input type="text" class="text-go" name="page" value="{{customers.number}}"/>
                                    <input type="submit" class="btn-go" value="跳转"/>
                                </form>
                            </div>
                        {% endifequal %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>

    $(document).ready(function() {
        $('#example').DataTable();
    } );

    $(function(){
        $("th").attr("title","点击排序");
    });

    $(function(){
        $('#example_filter').css('style','display:none');
        $('#example_info').attr('style','display:none');
        $('#example_length').attr('style','display:none');
        $('#example_paginate').attr('style','display:none');
    });

</script>

{% endblock %}