{% extends "erp/base.html" %}
{% block content %}
    <div>
        <ol class="breadcrumb">
            <span>当前位置：</span>
            <li class="active">律锰管理</li>
            <li>机构注册审批列表</li>
        </ol>
        <div class="header-line">
           <!-- START Language list-->
            <h4>机构列表</h4>
        </div>

        {% if messages %}
            {% for message in messages %}
                {% if forloop.last %}
                    <div class="message" style="text-align:center;margin-bottom:10px;font-size:20px;color:#40A6DF;">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="content-table">
            <form action="" method="post" class="form-inline" role="form">

                <div class="form-group">
                  <label class="control-label">机构名称：</label>
                  <div class="col-sm-9">
                     <input type="text" class="form-control"  name="bus_name" value="{{name|default:''}}">
                  </div>
               </div>
                <div class="form-group div-wrap">
                  <label class="control-label">电话：</label>
                  <div class="col-sm-9">
                     <input type="text" class="form-control" name="phoneNum" value="{{phoneNum|default:''}}">
                  </div>
               </div>
                <div class="form-group div-wrap">
                  <label class="control-label">邮箱：</label>
                  <div class="col-sm-9">
                     <input type="text" class="form-control" name="email" value="{{email|default:''}}">
                  </div>
               </div>
                <div class="form-group">
                  <label class="control-label">机构地址：</label>
                  <div class="col-sm-9" >
                     <input type="text" class="form-control" name="address" value="{{address|default:''}}">
                  </div>
               </div>
                <div class="form-group">
                    <div class="col-sm-3 btn-wrap">
                        <input type="submit" value="搜索" class="btn-submit">
                    </div>
                    <div class="col-sm-9">
                        <input type="button" value="数据导出到Excel表格" onclick="download();" title="点击导出数据" class="btn-export">
                    </div>
               </div>
            </form>
        </div>

        <div class="row">
            <div class="col-lg-12 panel-body table-responsive">
                <table id="example" class="table table-hover excel" style="overflow-x:scroll;white-space:nowrap;">
                    <thead>
                        <tr id="tr_head">
                            <th>序号</th>
                            <th>机构名称</th>
                            <th>电话</th>
                            <th>邮箱</th>
                            <th>机构地址</th>
                            <th>注册日期</th>
                            <!--<th>到期时间</th>-->
                            <th>操作</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% load detail_deal %}
                        {% for bus in business %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ bus.name }}</td>
                                <td>{{ bus.phoneNum }}</td>
                                <td>{{ bus.email }}</td>
                                <td class="">{{ bus.address }}</td>
                                <td>{{ bus.register_date|default:''|date_str }}</td>

                                {% if bus.status == '3' %}
                                    <td><a style="cursor:pointer;" href="/erp/business_redister_examine/?id={{ bus.id }}#redister_business">{{ bus.get_status_display }}</a></td>
                                {% endif %}
                                {% if bus.status == '2' %}
                                    <td style="cursor:pointer;color:red;"><img style="cursor:pointer;width:20px;height:20px;" src="/static/img/cancel.gif"><a href="/erp/check/?id={{bus.id}}&type=redister&check_remark=true#redister_business">{{ bus.get_status_display }}</a></td>
                                {% endif %}
                                {% if bus.status == '1' %}
                                    <td style="cursor:pointer;color:blue;"><img style="cursor:pointer;width:20px;height:20px;" src="/static/img/yes.gif"><a href="/erp/check/?id={{bus.id}}&type=redister&check_remark=true#redister_business">{{ bus.get_status_display }}</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>


                </table>
                <div class="nav-pagenation">
                    <ul class="pagination">
                        <li>
                            {% if business.has_previous %}
                                <a href="?page={{ business.previous_page_number }}#business_list">上一页</a>
                            {% else %}
                                <a href="#" class="disabled">上一页</a>
                            {% endif %}
                        </li>

                        {% for p in page_range %}
                            {% ifequal p business.number %}
                                <li class="active"><a href="#">{{p}}</a></li>
                            {% else %}
                                <li><a href="?page={{p}}#business_list" title="第{{p}}页">{{p}}</a></li>
                            {% endifequal %}
                        {% endfor %}

                        <li>
                            {% if business.has_next %}
                                <a href="?page={{ business.next_page_number }}#business_list">下一页</a>
                            {% else %}
                                <a href="#" class="disabled">下一页</a>
                            {% endif %}
                        </li>

                        <li>
                            <a href="#">共{{ paginator.count }}条</a>
                        </li>

                        {% ifequal paginator.num_pages 1 %}
                        {%  else %}
                            <div class="go-wrap">
                                <form action="">
                                    <input type="text" class="text-go" name="page" value="{{business.number}}"/>
                                    <input type="submit" class="btn-go" value="跳转"/>
                                </form>
                            </div>
                        {% endifequal %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>

    $(document).ready(function() {
        $('#example').DataTable();
    } );

    $(function(){
        $("th").attr("title","点击排序");
    });

    $(function(){
        $('#example_filter').css('style','display:none');
        $('#example_info').attr('style','display:none');
        $('#example_length').attr('style','display:none');
        $('#example_paginate').attr('style','display:none');
    });

</script>

{% endblock %}