{% extends "erp/base.html" %}
{% block content %}
    <div class="">
        <div class="">
           <!-- START Language list-->
            <h4 style="color:red;">购买列表</h4>

        </div>

        <div class="row">
            <div class="col-lg-12 panel-body">
                <table id="example" class="table table-hover" style="overflow-x:scroll;white-space:nowrap;">
                    <thead>
                        <tr id="tr_head">
                            <th>序号</th>
                            <th>客户姓名</th>
                            <th>产品名</th>
                            <th>购买金额</th>
                            <th>购买时间</th>
                            <th>结束时间</th>
                            <th>添加时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load detail_deal %}
                        {% for purchase in purchases %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                {% if request.user.is_superuser %}
                                    <th><a class="customer_check" href="/erp/check/?id={{ customer.id }}&type=customer#admin_customers" title="点击查看">{{ customer.name }}</a></th>
                                    <th><a class="product_check" href="/erp/check/?id={{ purchase.product.id }}&type=product#admin_customers" title="点击查看">{{ purchase.product }}</a></th>
                                {% else %}
                                    <th><a class="customer_check" href="/erp/check/?id={{ customer.id }}&type=customer#customer_list" title="点击查看">{{ customer.name }}</a></th>
                                    <th><a class="product_check" href="/erp/check/?id={{ purchase.product.id }}&type=product#customer_list" title="点击查看">{{ purchase.product }}</a></th>
                                {% endif %}
                                <th>{{ purchase.amount }}</th>
                                <th>{{ purchase.income_date|date_str }}</th>
                                <th>{{ purchase.end_date|date_str }}</th>
                                <th>{{ purchase.register_time|date_str }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>

    $(document).ready(function() {
        $('#example').DataTable();
    } );

    $(function(){
        $("th").attr("title","点击排序");
    });

    $(function(){
        $('#example_filter').css('style','display:none');
        $('#example_info').attr('style','display:none');
        $('#example_length').attr('style','display:none');
        $('#example_paginate').attr('style','display:none');
    });

</script>

{% endblock %}