<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="post" action="/erp/business_redister_examine/?type=cancel&id={{ id }}#redister_business">
        <textarea style="height:420px;width:798px;" id="reject_reason" name="reject_reason">

        </textarea>
        <div style="border:1px solid #CCCCCC;height:53px;margin-top:-8px;">
        <input type="submit" value="确定" style="background-color:#0092E6;margin-left:10px;width:100px;font-size:20px;margin-top:10px">
            </div>
    </form>
</body>
</html>