
{% extends "erp/base.html" %}
{% block content %}
    <div class="">
        <div class="">
            <ol class="breadcrumb">
                <span>当前位置：</span>
                <li class="active">员工对客户管理</li>
                <li>客户购买列表</li>
                {% if message %}
                    <li>{{ message }}</li>
                {% else %}
                    <li>客户购买基本信息</li>
                {% endif %}
            </ol>
            <div class="header-line">
               <!-- START Language list-->
                {% if message %}
                    <h4>{{ message }}</h4>
                {% else %}
                    <h4>客户购买基本信息</h4>
                {% endif %}
            </div>
        </div>

        {% if messages %}
            {% for message in messages %}
                {% if forloop.last %}
                    <div class="message" style="text-align:center;margin-bottom:10px;font-size:20px;color:#E53E4D;"><img style="width:20px;height:20px;" src="/static/img/cancel.gif">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <input style="display:none;" name="check_remark" id="check_remark" value="{{ check_remark }}">
        <div class="row">
            <div class="col-lg-12 panel-body">
                <!--<form action="/erp/business_process/?bus_id={{ bus_id }}" method="post" role="form" enctype="multipart/form-data">-->
                <form action="/erp/agent_add_product/?customer_id={{ id }}" method="post" role="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {% crispy form %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    $(function(){
        $("#id_amount").after("<span id='span_amount' style='font-size:18px;color:blue'></span>");

        var str = $("#id_amount").val();
        if (str){
            $("#span_amount").html(intToChinese(str));
        }
    });

    function ToChinese(str){
        $("#span_amount").html(intToChinese(str));
    }

</script>
{% endblock %}