{% extends "erp/base.html" %}

{% block content %}
    <div class="">
        <ol class="breadcrumb">
            <span>当前位置：</span>
            <li class="active">律锰管理</li>
            <li>{{ message }}</li>
        </ol>
        <div class="header-line">
           <!-- START Language list-->
            <h4 align="center">{{ message }}</h4>
        </div>

        <div>
             <div class="tips">
               <!-- START Language list-->
                <p align="center">[系统自动发送邮件有可能在垃圾邮件中，请注意检查]</p>
            </div>
            <div class="panel-body">
                <form align="center" onsubmit="return checkPassword();" action="/erp/business_password_change/{{ user_id }}/?type={{ type }}" method="post" role="form" id="pwd_form">

                    <span id="notice_error" style="font-size:20px;color:red;display:none;">两次输入的密码不一样</span><br>
                    <div class="error">
                        <h5 style="color:red;">{{ error }}</h5>
                    </div>

                    <div class="form-sheet">
                        <input type="password" name="password" id="password" placeholder="输入新密码" class="form-control">
                        <input type="password" name="password2" id="password2"  placeholder="确认新密码" class="form-control">
                        <!--<input onclick="checkPassword();" type="button" value="保存" class="form-control btn-change-pwd">-->
                        <input  type="submit" value="保存" class="form-control btn-change-pwd">
                    </div>


                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function checkPassword(){
            var pass1 = $("#password").val();
            var pass2 = $("#password2").val();
            if(pass1!=pass2){
                $("#notice_error").css("display","");
                return false;
            }
        }
    </script>
{% endblock %}