{% extends "erp/base.html" %}
{% block content %}
    <div class="">
        <ol class="breadcrumb">
            <span>当前位置：</span>
            <li class="active">员工管理</li>
            <li>通讯录</li>
        </ol>
        <div class="header-line">
           <!-- START Language list-->
            <h4>员工通讯录</h4>
        </div>
         <div class="content-table">
            <form action="" method="post" class="form-inline">
                <div class="form-group div-wrap">
                  <label class="control-label">姓名：</label>
                  <div class="col-sm-9">
                     <input type="text" class="form-control" name="agent_name" value="{{agent_name|default:''}}">
                  </div>
               </div>
                <div class="form-group div-wrap">
                  <label class="control-label">电话：</label>
                  <div class="col-sm-9">
                     <input type="text" class="form-control" name="phoneNum" value="{{phoneNum|default:''}}">
                  </div>
               </div>
                <div class="form-group">
                  <div class="col-sm-3 btn-wrap">
                        <input type="submit" value="搜索" class="btn-submit">
                    </div>
                    <div class="col-sm-9">
                        <input type="button" value="数据导出到Excel表格" onclick="download();" title="点击导出数据" class="btn-export">
                    </div>
               </div>
            </form>
        </div>
        <div class="row content-table">
            <div class="col-lg-12 panel-body table-responsive">
                <table id="example" class="excel table table-hover"  style="overflow-x:scroll;white-space:nowrap;">
                    <thead>
                        <tr id="tr_head">
                            <th>序号</th>
                            <th>姓名</th>
                            <th>电话</th>
                            <th>微信号</th>
                            <th>QQ号</th>
                            <th>性别</th>
                            <th>职位</th>
                            <th>部门</th>
                            {% if request.user.is_superuser %}
                                <th>所属机构</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for agent in agents %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ agent.name }}</td>
                                <td>{{ agent.phoneNum }}</td>
                                <td>{{ agent.wechat|default:'' }}</td>
                                <td>{{ agent.qq_number|default:'' }}</td>
                                <td>{{ agent.get_sex_display }}</td>
                                <td>{{ agent.position|default:'' }}</td>
                                <td>{{ agent.position.department|default:'' }}</td>
                                {% if request.user.is_superuser %}
                                    <td>{{ agent.business }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="nav-pagenation">
                    <ul class="pagination">
                        <li>
                            {% if agents.has_previous %}
                                <a href="?page={{ agents.previous_page_number }}#mail_list">上一页</a>
                            {% else %}
                                <a href="#" class="disabled">上一页</a>
                            {% endif %}
                        </li>

                        {% for p in page_range %}
                            {% ifequal p agents.number %}
                                <li class="active"><a href="#">{{p}}</a></li>
                            {% else %}
                                <li><a href="?page={{p}}#mail_list" title="第{{p}}页">{{p}}</a></li>
                            {% endifequal %}
                        {% endfor %}

                        <li>
                            {% if agents.has_next %}
                                <a href="?page={{ agents.next_page_number }}#mail_list">下一页</a>
                            {% else %}
                                <a href="#" class="disabled">下一页</a>
                            {% endif %}
                        </li>

                        <li>
                            <a href="#">共{{ paginator.count }}条</a>
                        </li>

                        {% ifequal paginator.num_pages 1 %}
                        {%  else %}
                            <div class="go-wrap">
                                <form action="">
                                    <input type="text" class="text-go" name="page" value="{{agents.number}}"/>
                                    <input type="submit" class="btn-go" value="跳转"/>
                                </form>
                            </div>
                        {% endifequal %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>

    $(document).ready(function() {
        $('#example').DataTable();
    } );

    $(function(){
        $("th").attr("title","点击排序");
    });

    $(function(){
        $('#example_filter').css('style','display:none');
        $('#example_info').attr('style','display:none');
        $('#example_length').attr('style','display:none');
        $('#example_paginate').attr('style','display:none');
    });



</script>

{% endblock %}

