{% extends "erp/base.html" %}
{% block content %}
<!--<div align="center" style="margin-top:300px;font-size:50px;">-->
    <!--<div id="aa" ></div>-->
    <!--<h2 style="color:red;">对不起，您无访问权限</h2>-->
<!--</div>-->
    <div class="">
        <img src="/static/img/gis/fangwenquanxian.png" style="margin-top:30px;margin-left:30px;"/>
    </div>
{% endblock %}
{% block script %}
<script>
    <!--function clock() {-->
        <!--i = i - 1;-->
        <!--document.getElementById("aa").innerHTML = "将在" + i + "秒后自动为您跳转!";-->
        <!--if (i > 0)setTimeout("clock();", 1000);-->
        <!--else location.href="/";-->
    <!--}-->
    <!--var i = 3;//时间:秒-->
    <!--clock();-->
</script>
{% endblock %}
