{% extends "web_customer/customer_new/base.html" %}

{% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
{#    <link rel="icon" href="/static/web_customer/customer_new/images/another/favicon.png" type="image/png" />#}
{#    <link rel="shortcut icon" href="/static/web_customer/customer_new/images/another/favicon.png" type="image/png" />#}
{#    <title>牛基队</title>#}

    <link href="/static/web_customer/customer_new/css/bootstrap.css" type="text/css" rel="stylesheet">

    <link href="/static/web_customer/customer_new/css/muban.css" rel="stylesheet" type="text/css">
    <link href="/static/web_customer/customer_new/css/personal.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/static/web_customer/customer_new/js/html5shiv.js"></script>
    <script type="text/javascript" src="/static/web_customer/customer_new/js/respond.min.js"></script>

{% endblock %}

{% block body %}
<div id="header">
    <div class="container">
        <div class="pull-left">
            <!--<img src="/static/web_customer/customer_new/images/another/niu.png">-->
            <div class="image_logo">
            <img src="/media/{{ business.logo }}" onerror="this.src='/static/img/default_blue.png'">
            {% comment %}<img src="/static/web_customer/customer_new/images/another/niheta.png">{% endcomment %}
            <span style="font-size:26px;line-height: 80px;color: #333333;"> {{ business }}</span>
            </div>
        </div>
        <div class="pull-right">
            <p>财富热线：{{ business.business_phone }}</p>
            <form class="bs-docs-example form-inline pull-right"  method="get" action="/web_customer/customer_business_search/"/>
                <select name="bus_id" style="width: 180px;font-size: 14px;">
                        <option value="{{ business.id }}">{{ business }}</option>
                    {% for agent in agents %}
                        {% if business != agent.business %}
                            <option value="{{ agent.business.id }}">{{ agent.business }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            <button class="btn " type="submit">确定</button>
            </form>
        </div>
    </div>
</div>

<div id="menu">
    <div class="container">
        <nav class="navbar ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="nav-menu">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/web_customer/redi_to_index/?business_id={{ business.id }}">首页</a></li>
                    <li><a href="/web_customer/redi_to_index/?business_id={{ business.id }}#product">产品中心</a></li>
                    <li><a href="/web_customer/redi_to_index/?business_id={{ business.id }}#topline">金融头条</a></li>
                    <li><a href="/web_customer/redi_to_index/?business_id={{ business.id }}#topline">企业公告</a></li>
                    <li><a href="/web_customer/redi_to_index/?business_id={{ business.id }}#footer">联系我们</a></li>
                    <li><a href="/web_customer/personal_info/?bus_id={{ business.id }}">我的账户</a></li>
                    <li style="float: right;"><a href="/logout/" >退出登录</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div>
    <img src="/static/web_customer/customer_new/images/banner/bj.png">
</div>

<div id="person">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12" style="background: #FFFFFF;">
                <div id="person_local">
                    <p>首页>我的账户><span id="person_local_name">个人资料</span></p>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div  class="person_info">
                        <div class="media">
                            <div class="media-left">
                                <a href="#" class="media-object">
                                    <!--<img  class="img-circle" src="/static/web_customer/customer_new/images/personal/touxiag2.png">-->
                                    {% if customer.sex == '1' %}
                                        <img  class="img-circle" src="/media/{{ customer.portrait }}" onerror="this.src='/static/img/default_boy.png'">
                                    {% else %}
                                        <img  class="img-circle" src="/media/{{ customer.portrait }}" onerror="this.src='/static/img/default_girl.png'">
                                    {% endif %}
{#                                    <img  class="img-circle" src="/media/{{ customer.portrait }}" onerror="this.src='/static/img/default_blue.png'">#}
                                </a>
                            </div>
                            <div class="media-body">
                                <p class="media-heading">{{ customer.name }}<span class="person_sex">
                                    {% if customer.sex == '1' %}
                                        <img src="/static/web_customer/customer_new/images/personal/man.png">
                                    {% else %}
                                        <img src="/static/web_customer/customer_new/images/personal/girl.png">
                                    {% endif %}
                                </span></p>
                                <div class="media-bottom">
                                    <span><img src="/static/web_customer/customer_new/images/personal/shenfen.png"></span>
                                    <span><img src="/static/web_customer/customer_new/images/personal/shouji.png"></span>
                                    <span><img src="/static/web_customer/customer_new/images/personal/youxiang.png"></span>
                                </div>
                            </div>
                        </div>
                        <div class="person_jifen">
                            <span>积分：{{ check_in.points|default:'0' }}</span>
                            <span>连续登录{{ check_in.continuous_days|default:'0' }}天</span>
                        </div>
                    </div>
                    <div class="person_list">
                        <a href="#" class="list-group-item" id="per_info" onclick="personal_info()" style="background:#E60012;">个人资料</a>
                        <a href="#" class="list-group-item" id="buy_pro" onclick="personal_product()">已购买产品</a>
                        <a href="#" class="list-group-item" id="bus_man" onclick="personal_myorg()">机构管理</a>
                        <a href="#" class="list-group-item" id="cus_age" onclick="personal_myAM()">我的客户经理</a>
                    </div>
                </div>

                <div class="col-md-9 col-sm-9" id="personal_info">

                    <form>
                        <!--<div>
                            <img src="/media/{{ customer.portrait }}" onerror="this.src='/static/img/default_blue.png'" width="144" height="144" style="border: solid 1px #E5E5E5;">
                        </div>-->
                        <div>
                            <span>真实姓名：</span>
                            <span>{{ customer.name }}</span>
                        </div>
                        <div>
                            <span>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</span>
                            <span>{{ customer.phoneNum }}</span>
                        </div>
                        <div>
                            <span>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</span>
                            <span>{{ customer.email }}</span>
                        </div>
                        <div>
                            <span>身份证号：</span>
                            <span>{{ customer.idCard_num }}</span>
                        </div>
                        <div>
                            <span>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</span>
                            <span>{{ customer.get_sex_display }}</span>
                        </div>
                        <div>
                            <span>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</span>
                            <span>{{ customer.address }}</span>
                        </div>
                        <div>
                            <span>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：</span>
                            <span>{{ customer.note|safe }}</span>
                        </div>
                    </form>
                </div>

                <div class="col-md-9 col-sm-9" id="personal_product" style="display: none;">
                    {% for product in products %}
                    <div style="text-align: center;">
                        <div class="col-md-12 col-sm-12" id="personal_product_name">
                            <p>{{ product.name|default:'' }}<span>还剩{{ product.day|default:'' }}天</span></p>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <p class="nianhua">预期收益</p>
                            <p style="color: #e60012;font-size: 24px;">{{ product.expected|default:'' }}%</p>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <p class="nianhua">起投金额</p>
                            <p class="jine">{{ product.mini_sub|default:'' }}万</p>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <p class="nianhua">投资期限</p>
                            <p class="jine">{{ product.period|default:'' }}个月</p>
                        </div>
                        <div class="col-md-3 col-sm-3" id="btn_chakan">
                            <p></p>
                            <a href="/web_customer/product/?bus_id={{ business.id }}&product_id={{ product.id }}" class="btn">查看</a>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <hr/>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <div class="col-md-9 col-sm-9" id="personal_myorg" style="display: none;">
                    <div>
                        <ul>
                            {% for agent in agents %}
                                <li><a href="/web_customer/customer_business_search/?bus_id={{ agent.business.id }}">{{ agent.business }}</a></li>
                                <hr/>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-md-9 col-sm-9" id="personal_myAM" style="display: none;">
                    <div>
                        <ul>
                            {% for agent in agents %}
                                <span>{{ agent.business }}</span>
                                <li>{{ agent }}</li>
                                <hr/>
                            {% endfor %}
                        </ul>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<footer id="footer">
    <div class="contact">
        <img src="/static/web_customer/customer_new/images/another/line_left.png">
        <span>联系我们</span>
        <img src="/static/web_customer/customer_new/images/another/line_right.png">
        <p> Contact us</p>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <p class="footer_word">COOPERATIVE PARTNER  合作伙伴</p>
                <div class="row">
                    <div class="col-md-4 col-sm-4"><img src="/static/web_customer/customer_new/images/partner/360.png"></div>
                    <div class="col-md-4 col-sm-4"><img src="/static/web_customer/customer_new/images/partner/baidu.png"></div>
                    <div class="col-md-4 col-sm-4"><img src="/static/web_customer/customer_new/images/partner/gongshang.png"></div>
                    <div class="col-md-4 col-sm-4"><img src="/static/web_customer/customer_new/images/partner/guotai.png"></div>
                    <div class="col-md-4 col-sm-4"><img src="/static/web_customer/customer_new/images/partner/texun.png"></div>
                    <div class="col-md-4 col-sm-4"><img src="/static/web_customer/customer_new/images/partner/xinlang.png"></div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4" >
                <p class="footer_word">CONTACT US  联系我们</p>
                <div class="foot_info">
                    <p>客服热线：{{ business.business_phone|default:'' }}</p>
                    <p>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：{{ business.business_email|default:'' }}</p>
                    <br/>
                    <p>地址：{{ business.work_address|default:'' }}</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4" id="ewm">
                <div class="col-md-4 col-sm-4">
                    <!--<img src="/static/web_customer/customer_new/images/ewm/gongzhonghao.png">-->
                    <img src="/media/{{ business.business_qrcode }}" onerror="this.src='/static/img/default_blue.png'" style="width:90px;height:90px;">
                    <p class="ewm_word">企业公众号</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="/static/web_customer/customer_new/images/ewm/guanwang.png">
                    <p class="ewm_word">下载APP</p>
                </div>
            </div>

        </div>
    </div>
</footer>

<script>
    function personal_info(){
        document.getElementById("personal_info").style.display = "block";
        document.getElementById("per_info").style.background = "#E60012";
        document.getElementById("buy_pro").style.background = "";
        document.getElementById("bus_man").style.background = "";
        document.getElementById("cus_age").style.background = "";
        document.getElementById("personal_product").style.display = "none";
        document.getElementById("personal_myorg").style.display = "none";
        document.getElementById("personal_myAM").style.display = "none";
        document.getElementById("person_local_name").innerHTML = "个人资料";
    }
    function personal_product(){
        document.getElementById("buy_pro").style.background = "#E60012";
        document.getElementById("per_info").style.background = "";
        document.getElementById("bus_man").style.background = "";
        document.getElementById("cus_age").style.background = "";
        document.getElementById("personal_info").style.display = "none";
        document.getElementById("personal_product").style.display = "block";
        document.getElementById("personal_myorg").style.display = "none";
        document.getElementById("personal_myAM").style.display = "none";
        document.getElementById("person_local_name").innerHTML = "已购买产品";
    }
    function personal_myorg(){
        document.getElementById("bus_man").style.background = "#E60012";
        document.getElementById("buy_pro").style.background = "";
        document.getElementById("per_info").style.background = "";
        document.getElementById("cus_age").style.background = "";
        document.getElementById("personal_info").style.display = "none";
        document.getElementById("personal_product").style.display = "none";
        document.getElementById("personal_myorg").style.display = "block";
        document.getElementById("personal_myAM").style.display = "none";
        document.getElementById("person_local_name").innerHTML = "机构管理";
    }
    function personal_myAM(){
        document.getElementById("cus_age").style.background = "#E60012";
        document.getElementById("bus_man").style.background = "";
        document.getElementById("per_info").style.background = "";
        document.getElementById("buy_pro").style.background = "";
        document.getElementById("personal_info").style.display = "none";
        document.getElementById("personal_product").style.display = "none";
        document.getElementById("personal_myorg").style.display = "none";
        document.getElementById("personal_myAM").style.display = "block";
        document.getElementById("person_local_name").innerHTML = "我的客户经理";
    }

</script>




{% endblock %}